version: 2.0
jobs:
  style_and_unit_tests_mgt_api:
    docker:
      - image: circleci/python:3.6.6-jessie-browsers
    working_directory: ~/inference-model-manager
    steps:
      - checkout
      - run:
          name: Create venv
          command: |
            cd ~/inference-model-manager
            python3 -m venv .venv
      - run:
          name: Style checker
          command: |
            . ~/inference-model-manager/.venv/bin/activate
            pip install -q flake8==3.5.0
            echo "management folder" && cd ~/inference-model-manager/management/ && make style
            echo "tests folder && " && cd ~/inference-model-manager/tests/ && make style
            echo "scripts folder" && cd ~/inference-model-manager/scripts/ && flake8 --max-line-length 100
            echo "grpc client folder && " && cd ~/inference-model-manager/examples/grpc_client/ && make style
      - run:
          name: Run unit tests
          command: |
            . ~/inference-model-manager/.venv/bin/activate
            pip install -r management/requirements.txt
            cd ~/inference-model-manager/management/ && python setup.py test
  style_and_unit_tests_crd:
    docker:
      - image: circleci/golang:1.11-node
    working_directory: ~/inference-model-manager
    steps:
      - checkout
      - run:
          name: gometalinter and unit tests
          command: |
            cd ~/inference-model-manager/server-controller
            mkdir -p /go/src/github.com/IntelAI/inference-model-manager/server-controller
            mv * /go/src/github.com/IntelAI/inference-model-manager/server-controller
            cd /go/src/github.com/IntelAI/inference-model-manager/server-controller
            dep ensure -v
            make install-linter
            make test

  functional_tests:
    docker:
      - image: circleci/python:3.6.6-jessie-browsers
    working_directory: ~/inference-model-manager
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Create venv
          command: |
            cd ~/inference-model-manager/
            python3 -m venv .venv
      - run:
          name: Choose region
          command: |
            cd ~/inference-model-manager/kops
            export BRANCH=$(git symbolic-ref --short HEAD)
            echo $REGION_JSON
            if [ "$BRANCH" != "master" ]
            then
               sudo apt-get install jq
               export GCE_REGION=`jq --arg namearg "$CIRCLE_USERNAME" '.[$namearg]' <<< "$REGION_JSON" | tr -d '"'`
               if [ "$GCE_REGION" != "null" ]
               then
                 sed -i "s/us-west1/${GCE_REGION}/g" desiredcni.yaml
               fi
            fi
      - run:
          name: Prepare environment variables
          command: |
            echo 'export KOPS_FEATURE_FLAGS=AlphaAllowGCE' >> $BASH_ENV
            echo 'export SHORT_SHA1=`echo ${CIRCLE_SHA1} | cut -c 1-6`' >> $BASH_ENV
            echo 'export CLUSTER_NAME="imm-${SHORT_SHA1}-${CIRCLE_BRANCH}.k8s.local"' >> $BASH_ENV
            echo 'export CLUSTER_NAME_SHORT="imm-${SHORT_SHA1}-${CIRCLE_BRANCH}"' >> $BASH_ENV
            echo 'export KOPS_STATE_STORE=gs://kubernetes-clusters-imm' >> $BASH_ENV
            echo 'export GOOGLE_APPLICATION_CREDENTIALS="/tmp/gcp-key.json"' >> $BASH_ENV
            echo 'export CLUSTER_NAME_SHORT_TP=`echo ${CLUSTER_NAME_SHORT} | cut -c 1-20`' >> $BASH_ENV
            echo 'export CLOUD_SDK_REPO="cloud-sdk-$(lsb_release -c -s)"' >> $BASH_ENV
            echo 'export DEX_DOMAIN_NAME="dex.${CLUSTER_NAME_SHORT}.nlpnp.adsdcsp.com"' >> $BASH_ENV
            echo 'export MGMT_DOMAIN_NAME="mgmt.${CLUSTER_NAME_SHORT}.nlpnp.adsdcsp.com"' >> $BASH_ENV
            echo 'export DOMAIN_NAME="${CLUSTER_NAME_SHORT}.nlpnp.adsdcsp.com"' >> $BASH_ENV
            echo 'export ISSUER="https://dex.${CLUSTER_NAME_SHORT}.nlpnp.adsdcsp.com:443/dex"' >> $BASH_ENV
            echo 'export MGMT_IMAGE="gcr.io/constant-cubist-173123/management-api"' >> $BASH_ENV
            echo 'export CRD_IMAGE="gcr.io/constant-cubist-173123/server-controller-prod"' >> $BASH_ENV
            echo 'export TF_TEST_CERTS="true"' >> $BASH_ENV
            echo 'export MGMT_INTERNAL_CERTS="true"' >> $BASH_ENV
            echo 'export MGMT_CERTS="true"' >> $BASH_ENV
            echo 'export DEX_INTERNAL_CERTS="true"' >> $BASH_ENV
            echo 'export DEX_NAMESPACE="dex"' >> $BASH_ENV
            echo 'export MGT_NAMESPACE="mgt-api"' >> $BASH_ENV
            echo 'export MINIO_ACCESS_KEY="AKIAIOSFODNN7EXAMPLE"' >> $BASH_ENV
            echo 'export MINIO_SECRET_KEY="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"' >> $BASH_ENV
            echo 'export DEX_URL="https://${DEX_DOMAIN_NAME}:443"' >> $BASH_ENV
      - run:
          name: Generate certificates for dex external service
          command: |
            cd ~/inference-model-manager/helm-deployment/dex-subchart/certs
            ./generate-ing-ca.sh
            ./generate-ing-dex-certs.sh
      - run:
          name: Create k8s cluster
          command: |
            echo "${GOOGLE_IMM_KEY}" | base64 -d > /tmp/gcp-key.json
            echo "deb http://packages.cloud.google.com/apt $CLOUD_SDK_REPO main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
            curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
            sudo -E apt-get update && sudo -E apt-get install -y google-cloud-sdk
            sudo -E apt-get install kubectl
            sudo -E apt-get update && sudo -E apt-get --only-upgrade install kubectl google-cloud-sdk google-cloud-sdk-app-engine-grpc google-cloud-sdk-pubsub-emulator \
            google-cloud-sdk-app-engine-go google-cloud-sdk-cloud-build-local google-cloud-sdk-datastore-emulator google-cloud-sdk-app-engine-python google-cloud-sdk-cbt \
            google-cloud-sdk-bigtable-emulator google-cloud-sdk-app-engine-python-extras google-cloud-sdk-datalab google-cloud-sdk-app-engine-java
            gcloud auth activate-service-account --key-file /tmp/gcp-key.json
            gcloud config set project "${GOOGLE_PROJECT_ID}"
            mkdir temp
            cd temp
            wget -O kops https://github.com/kubernetes/kops/releases/download/$(curl -s https://api.github.com/repos/kubernetes/kops/releases/latest | grep tag_name | cut -d '"' -f 4)/kops-linux-amd64

            chmod +x ./kops
            sudo mv ./kops /usr/local/bin/
            export PROJECT=`gcloud config get-value project`
            cd ~/inference-model-manager/kops
            
            sed -i "s/toreplacebyclustername/${CLUSTER_NAME_SHORT}/g" desiredcni.yaml
            sed -i "s@toreplacebyissuer@${ISSUER}@g" desiredcni.yaml
            cp ~/inference-model-manager/helm-deployment/dex-subchart/certs/ca-ing.crt .
            sed -i 's/^/      /' ca-ing.crt
            sed -i -e '/replace_by_certificate/{r ca-ing.crt' -e 'd}' desiredcni.yaml
            kops create -f desiredcni.yaml
            kops update cluster ${CLUSTER_NAME} --yes
            sleep 300
            kubectl create -f https://git.io/weave-kube-1.6
            
            sleep 250            
            kubectl create serviceaccount --namespace kube-system tiller
            kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
            curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh
            chmod 700 get_helm.sh
            sleep 150
            ./get_helm.sh
            helm init --service-account tiller --upgrade
            sleep 20

            wget https://github.com/mikefarah/yq/releases/download/2.2.1/yq_linux_amd64
            chmod a+x yq_linux_amd64
            sudo mv yq_linux_amd64 /usr/local/bin/yq
      - run:
          name: Check management api images version
          command: |
            cd ~/inference-model-manager/
            export TAG=$(find management/ -type f -exec sha256sum {} \; | cut -d " " -f1 | sort | xargs echo | sha256sum | cut -d " " -f1)
            export TAG_EXISTS=$(gcloud container images list-tags gcr.io/constant-cubist-173123/management-api | grep $TAG)
            echo $TAG
            echo $TAG_EXISTS
            cd ~/inference-model-manager/management
            if [ -z "$TAG_EXISTS" ]; then
               make circleci
            else
               echo "image already in registry - not rebuilding"
            fi
      - run:
          name: Check CRD controller image version
          command: |
            cd ~/inference-model-manager
            export TAG=$(find server-controller/ -type f -exec sha256sum {} \; | cut -d " " -f1 | sort | xargs echo | sha256sum | cut -d " " -f1)
            export TAG_EXISTS=$(gcloud container images list-tags gcr.io/constant-cubist-173123/server-controller-prod | grep $TAG)
            echo $TAG
            echo $TAG_EXISTS
            cd ~/inference-model-manager/server-controller/
            if [ -z "$TAG_EXISTS" ]; then
               make circleci
            else
               echo "image already in registry - not rebuilding"
            fi
      - run:
          name: Download dependencies and deploy platfrom
          command: |
            export MGMT_TAG=$(find management/ -type f -exec sha256sum {} \; | cut -d " " -f1 | sort | xargs echo | sha256sum | cut -d " " -f1)
            export CRD_TAG=$(find server-controller/ -type f -exec sha256sum {} \; | cut -d " " -f1 | sort | xargs echo | sha256sum | cut -d " " -f1)
            cd ~/inference-model-manager/tests/deployment
            sed -i "s@toreplacedbyissuer@${ISSUER}@g" dex_config.yaml
            cd ~/inference-model-manager/tests/deployment
            ./deployment_platform.sh
            sleep 150
      - run:
          name: Create record in AWS Route53
          command: |    
            cd ~/inference-model-manager/kops/
            while [ -z $ING_IP ]; do sleep 10; ING_IP=$(kubectl get ing -o=jsonpath='{.items[0].status.loadBalancer.ingress..ip}' -n mgt-api); done
                  
            sed -i "s/0.0.0.0/${ING_IP}/g" route_record.json
            sed -i "s/toreplacebydomainname/${CLUSTER_NAME_SHORT}.nlpnp.adsdcsp.com/g" route_record.json
            cat route_record.json
            virtualenv .venvaws -p python3
            . .venvaws/bin/activate
            pip install awscli --upgrade 
            export AWS_DNS=`aws route53 change-resource-record-sets --hosted-zone-id Z11DOV0M5AJEBB --change-batch file://./route_record.json`
            echo $AWS_DNS
            export AWS_DNS_ID=$(echo $AWS_DNS | jq '.ChangeInfo.Id')
            echo ${AWS_DNS_ID} 
            sleep 30
            while [ "$STATUS" = "INSYNC" ]; do sleep 10; export STATUS=$(aws route53 get-change --id `echo ${AWS_DNS_ID} | tr -d "\""` | jq '.ChangeInfo.Status'); echo $STATUS; done
            deactivate
      - run:
          name: Install tests requirements
          command: |
            . ~/inference-model-manager/.venv/bin/activate
            pip install -q --upgrade pip
            pip install -q -r ~/inference-model-manager/tests/requirements.txt
            pip install -q -r ~/inference-model-manager/scripts/requirements.txt
      - run:
          name: Install Certificates
          command: |
            sudo cp ~/inference-model-manager/helm-deployment/management-api-subchart/certs/ca-ing.crt /usr/local/share/ca-certificates/
            sudo update-ca-certificates
            echo "CA ing:"
            cat ~/inference-model-manager/helm-deployment/management-api-subchart/certs/ca-ing.crt
            echo 'export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt' >> $BASH_ENV
            echo 'export CERT=`cat ~/inference-model-manager/helm-deployment/management-api-subchart/certs/ca-cert-tf.crt | base64 -w0`' >> $BASH_ENV
      - store_artifacts:
          path: ~/inference-model-manager/helm-deployment/dex-subchart/certs
      - store_artifacts:
          path: ~/inference-model-manager/helm-deployment/management-api-subchart/certs
      - run:        
          name: Check if platform is ready for tests, fail build if not ready after 10 min
          command: |
            . ~/inference-model-manager/.venv/bin/activate
            cd ~/inference-model-manager/scripts
            . ./imm_utils.sh
            get_token admin
            while [[ "$TENANTS" != "There are no tenants present on platform" ]]; do TENANTS=`./imm -vv ls t`; echo $TENANTS; sleep 5; done
          no_output_timeout: 10m
      - run:
          name: Run imm test
          command: |
            . ~/inference-model-manager/.venv/bin/activate
            cd ~/inference-model-manager/scripts
            ./test_imm.sh
      - run:
          name: Run tests
          command: |
            . ~/inference-model-manager/.venv/bin/activate
            cd ~/inference-model-manager/tests
            . run_test.sh
      - run:
          name: Set images tags to latest on master
          command: |
            export BRANCH=$(git symbolic-ref --short HEAD)
            if [ "$BRANCH" == "master" ]; then
               MGMT_TAG=$(find management/ -type f -exec sha256sum {} \; | cut -d " " -f1 | sort | xargs echo | sha256sum | cut -d " " -f1)
               CTRL_TAG=$(find server-controller/ -type f -exec sha256sum {} \; | cut -d " " -f1 | sort | xargs echo | sha256sum | cut -d " " -f1)
               gcloud container images add-tag gcr.io/constant-cubist-173123/management-api:$MGMT_TAG gcr.io/constant-cubist-173123/management-api:latest
               gcloud container images add-tag gcr.io/constant-cubist-173123/server-controller-prod:$CTRL_TAG gcr.io/constant-cubist-173123/server-controller-prod:latest
            fi
      - run:
          name: clean after success
          when: on_success
          command: |
            export PROJECT=`gcloud config get-value project`
            export ING_IP=$(kubectl get ing -o=jsonpath='{.items[0].status.loadBalancer.ingress..ip}' -n mgt-api)
            helm ls --short | xargs -L1 helm --debug delete
            sleep 3m
            kops delete cluster ${CLUSTER_NAME} --yes
            cd ~/inference-model-manager/kops
            sed -i "s/0.0.0.0/${ING_IP}/g" route_delete.json
            sed -i "s/toreplacebydomainname/${CLUSTER_NAME_SHORT}.nlpnp.adsdcsp.com/g" route_delete.json
            cat route_delete.json
            . .venvaws/bin/activate
            aws route53 change-resource-record-sets --hosted-zone-id Z11DOV0M5AJEBB --change-batch file://./route_delete.json
            deactivate
            sleep 150
      - run:
          name: clean after failure
          when: on_fail
          command: |
            export PROJECT=`gcloud config get-value project`
            export ING_IP=$(kubectl get ing -o=jsonpath='{.items[0].status.loadBalancer.ingress..ip}' -n mgt-api)
            sleep 30m
            helm ls --short | xargs -L1 helm --debug delete
            sleep 3m
            kops delete cluster ${CLUSTER_NAME} --yes
            cd ~/inference-model-manager/kops
            sed -i "s/0.0.0.0/${ING_IP}/g" route_delete.json
            sed -i "s/toreplacebydomainname/${CLUSTER_NAME_SHORT}.nlpnp.adsdcsp.com/g" route_delete.json
            cat route_delete.json
            . .venvaws/bin/activate
            aws route53 change-resource-record-sets --hosted-zone-id Z11DOV0M5AJEBB --change-batch file://./route_delete.json
            deactivate
            sleep 150
          no_output_timeout: 32m
workflows:
  version: 2
  deploy-test:
    jobs:
      - style_and_unit_tests_mgt_api
      - functional_tests
      - style_and_unit_tests_crd
