# File prepared in order to leverage docker cache after ADD instructions.
# There were problems with long dep operation being repeated after slight Dockerfile changes.
*.md
.dockerignore
lint.json
Dockerfile.prod
server-controller
vendor
.git
