apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{.Spec.EndpointName}}"
  namespace: "{{.ObjectMeta.Namespace}}"
  labels:
    id: "{{.Spec.EndpointName}}"
    endpoint: "{{.Spec.EndpointName}}"
  ownerReferences:
  - apiVersion: {{.APIVersion}}
    kind: {{.Kind}}
    name: {{.Name}}
    uid: {{.UID}}
    controller: {{.Controller}}
    blockOwnerDeletion: {{.BlockOwnerDeletion}}
data:
  tf.conf: |
    model_config_list: {
          config:{
            name:"{{.Spec.ModelName}}",
            base_path:"s3://{{.ObjectMeta.Namespace}}/{{.Spec.ModelName}}",
            model_platform:"tensorflow",
            model_version_policy: {{ .Spec.ModelVersionPolicy }}
        }
    }
