{ "op": "replace", "path": "/spec/template/spec/containers/0/args/0", "value": "./tensorflow_model_server --port=9000 --model_name={{.ModelName}} --model_base_path=s3://{{.Namespace}}/{{.ModelName}}-{{.ModelVersion}}" }
